.mainblog{
    padding: 20px;
}
.blog{
    display: flex;
    gap: 50px;
    padding: 20px;
    border: 1px solid white;
    color: white;
}
.blogtitle{
    color: white;
    padding: 30px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.blogcon{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.blogdate{
    display: flex;
    float: right;
}